<% provide(:title, "Contact") %>
<h1>Sample App Contact</h1>
   <p>
      This is the e-mail contact page for the
      <a href="mailto:admin@railstutorial.org" target="_blank">E-mail to Ruby on Rails Tutorial</a>
      sample application.
    </p>